GroundingDINO/
open_set_object_detection/scripts/weights/
open_set_object_detection/scripts/*.pt*
open_set_object_detection/scripts/groundingdino
open_set_object_detection/scripts/assets/generated_image.jpeg
open_set_object_detection/scripts/inference_images/
build/*
segment_anything/
sampled_images/
*.bag
bag_files/
sam2
