<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.100975 -0.0357854 0.0612568" rpy="0.0391799 0.0170516 1.56614" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.100975 -0.0357854 0.0612568   0.0198964 -0.0077771 0.705416 0.708472 left_wrist_3_link camera_color_optical_frame" />
</launch>
