<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.130925 -0.0509994 0.0330272" rpy="0.0242442 0.084608 -0.69625" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.130925 -0.0509994 0.0330272   -0.00304158 0.043883 -0.340324 0.939279 left_wrist_3_link camera_color_optical_frame" />
</launch>
