<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.111293 0.0638582 0.0148133" rpy="0.0430346 0.0217098 2.37854" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.111293 0.0638582 0.0148133   0.0180825 -0.0159267 0.927914 0.372014 right_wrist_3_link camera_color_optical_frame" />
</launch>
