<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0100765 0.120995 0.0223001" rpy="0.0642632 -0.0415337 -2.36423" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0100765 0.120995 0.0223001   -0.0313787 -0.021858 0.924984 -0.378076 right_wrist_3_link camera_color_optical_frame" />
</launch>
