<?xml version="1.0"?>
<launch>
    <group ns="right">
        <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch">
            <arg name="camera" value="rs_435i" />
            <arg name="serial_no" value="135122075246" />
            <arg name="color_width" value="1280" />
            <arg name="color_height" value="720" />
            <arg name="enable_pointcloud" value="true" />
        </include>
    </group>
    <include file="$(find open_set_object_detection)/launch/right_arm_rs_435_extrinsic.launch"/>
    <param name="/right/rs_435_right/depth_ws_threshold" type="double" value="1000.0" />
    <node pkg="open_set_object_detection" type="right_435i_camera_workspace_publisher.py" name="right_camera_workspace_publisher" output="screen" />
</launch>