<?xml version="1.0"?>
<launch>
    <group ns="left">
        <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch">
            <arg name="camera" value="rs_415" />
            <arg name="serial_no" value="211122061649" />
            <arg name="color_width" value="1280" />
            <arg name="color_height" value="720" />
        </include>
    </group>
</launch>