<?xml version="1.0"?>
<launch>
    <group ns="left">
        <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch">
            <arg name="camera" value="rs_415_left" />
            <arg name="serial_no" value="211122061649" />
            <arg name="color_width" value="1280" />
            <arg name="color_height" value="720" />
            <arg name="enable_pointcloud" value="true" />
        </include>
    </group>
    <include file="$(find open_set_object_detection)/launch/left_arm_rs_415_extrinsic.launch"/>
    <param name="/left/rs_415_left/depth_ws_threshold" type="double" value="1000.0" />
    <node pkg="open_set_object_detection" type="left_camera_workspace_publisher.py" name="left_camera_workspace_publisher" />
</launch>
