<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0973786 -0.0315883 0.0151283" rpy="0.0148789 0.0470597 1.57477" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="left_camera_link_broadcaster"
      args="0.0973786 -0.0315883 0.0151283   0.0219177 0.0113336 0.708417 0.705363 left_wrist_3_link rs_415_left_color_optical_frame" />
</launch>
