<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0501115 0.107548 0.0263691" rpy="3.12984 -3.10421 0.766972" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0501115 0.107548 0.0263691   -0.0151341 0.0124431 0.927147 -0.374186 right_wrist_3_link rs_415_right_color_optical_frame" />
</launch>
